body {
    background-color: dimgray;
}

.topbar {
    background-color: midnightblue;
    font-size: 40px;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position:absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    transition: background-color 0.3s ease;
}

a {
    padding-left: 12px;
    padding-right: 12px;
    margin-right: -10px;
}

.center-text {
    color:white;
    align-items: center;
    font-size: 35px;
    position: absolute;
    left: 200px;
    top: 250px;
    right: 200px;
}

.button-area {
    display: flex;
    align-items: center;
    padding-top: 700px;
    padding-left: 45%;
}

.logo1 {
    display: inline;
    font-size: 40px;
    margin-right: -8px;
    margin-left: 5px;
}

.logo2 {
    display: inline;
    font-size: 30px;
}

.logo3 {
    display: inline;
    font-size: 40px;
    margin-right: -10px;
}

.logo4 {
    display: inline;
    font-size: 30px;
    margin-right: 10px;
}

.bigtext {
    color:white;
    align-items: center;
    font-size: 35px;
    position: absolute;
    left: 800px;
    top: 250px;
    right: 200px;
}

.small-text {
    color:white;
    font-size: 25px;
    background-color: midnightblue;
} 

a:visited {
    text-decoration: none;
    color: white;
}

#active {
    color: black;
    background-color: white;
}

#openPdf {
    display: inline-block;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    background-color: midnightblue;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Hover effect */
#openPdf:hover {
    background-color: rgb(14, 14, 64); /* Darker blue on hover */
    text-decoration: underline;
}

.ramps-div {
    display: flex;
    align-items: center;
    margin-top: 100px;
}

#scouts-div {
    display: flex;
    align-items: center;
    margin-top: 100px;
    background-color: rgb(69, 69, 69);
    padding-bottom: 200px;
    margin-bottom: -8px;
    padding-left: 10px;
    margin-left: -8px;
    margin-right: -8px;
}

.ramps-items {
    display: inline;
    margin-right: 20px;
}

.scouts-items {
    display: inline;
    margin-right: 20px; 
    margin-left: 20px;
}


a:link {
    text-decoration: none;
}


a:hover {
    text-decoration: none;
    color: white;
    text-decoration: underline;
}

a:active {
    text-decoration: none;
    color: black;
    background-color: white;
    text-decoration: underline;
}