body {
    background-color: dimgray;
}

.topbar {
    background-color: midnightblue;
    font-size: 40px;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position:absolute;
    top: 0px;
    left: 0px;
    right: 0px;
}

a {
    padding-left: 12px;
    padding-right: 12px;
    margin-right: -10px;
}

.logo1 {
    display: inline;
    font-size: 40px;
    margin-right: -8px;
    margin-left: 5px;
}

.logo2 {
    display: inline;
    font-size: 30px;
}

.logo3 {
    display: inline;
    font-size: 40px;
    margin-right: -10px;
}

.logo4 {
    display: inline;
    font-size: 30px;
    margin-right: 10px;
}

.bigtext {
    color:white;
    align-items: center;
    font-size: 35px;
    position: absolute;
    left: 800px;
    top: 250px;
    right: 200px;
}

.small-text {
    color:white;
    font-size: 25px;
    background-color: midnightblue;
}

.inline-image {
    display: inline;
}

a:visited {
    text-decoration: none;
    color: white;
}

#active {
    color: black;
    background-color: white;
}

#ramps-div {
    display: flex;
    align-items: center;
    margin-top: 100px;
}
.ramps-items {
    display: inline;
    margin-right: 20px;
}

#scouts-div {
    background-color: rgb(54, 54, 54);
    position: absolute;
    top: 400px;
    color: white
}


a:link {
    text-decoration: none;
}


a:hover {
    text-decoration: none;
    color: white;
    text-decoration: underline;
}

a:active {
    text-decoration: none;
    color: black;
    background-color: white;
    text-decoration: underline;
}